* { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;text-transform: capitalize;

}
body {background: blue;

}
.parent{
    position: absolute; left: 50%;top: 50%;transform: translate(-50%,-50%);
}
.parent input{
    padding: 8px 4px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 5px;
    margin-left: 170px;
    height: 100%;
    background-color: blueviolet;
    width: 400px;

}