* { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;text-transform: capitalize;

}
body {background: blue;

}
.parent{
    position: absolute; left: 50%;top: 50%;transform: translate(-50%,-50%);
}
.parent input{
    padding: 8px 4px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 5px;
    margin-left: 170px;
    height: 100%;
    background-color: blueviolet;
    width: 400px;

}
.parent button{
    font-size: 20px;
    padding: 8px;
    background: white;
    border: solid 2px white;
    color: aqua;
    font-weight: 500;
    transition: all 0.3s ease;
}
.parent ul{
    display: flex;
    line-height: none;
    justify-content: center;
    margin-top: 90px;
}
.parent ul li {
    width: 120px;
    height: 150px;
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
   color: blueviolet;

}
.parent ul li span{
    border-radius: 5px;
    background: burlywood;
    text-align: center;
    display: block;
    color: coral;
    font-size: 30px;
    width: 120px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;


}